body {
    background-size: cover;
    font-family: "Varela Round", sans-serif;
}

h1 {
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 72px;
}

#wrapper {
    text-align: center;
}
